<!DOCTYPE html>
<html>

<head>
    <title>About page</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <div class="main-content">
        {{>header}}
        <div class="information">
            <p>Get your ride for your destination.</p>
        </div>
    </div>

    {{>footer}}



</body>

<script src='js/app.js'></script>

</html>