<!DOCTYPE html>
<html>

<head>
    <title>Get Your Ride</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <form action="">
            <input type="text" placeholder="Enter location" id="loc">
            <button type="submit">Search</button>
        </form>
        <p id="loadingMsg"></p>
    </div>

    {{>footer}}

</body>

<script src='js/app.js'></script>

</html>