{{>header}}

<body>

    {{>navbar}}
<main role="main" class="container">
    <div class="d-flex flex-grow-1 align-items-center justify-content-md-center">
        <h1>Welcome to Ride sharing</h1>
    </div>
</main>
    {{>footer}}

</body>

<script src='js/app.js'></script>

</html>