{{>header}}

<body class="d-flex flex-column h-100">

    {{>navbar}}
    <main class="container">
        <h1 class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">Welcome to Ride sharing</h1>
    </main>
    {{>footer}}
</body>
<script src='js/script.js'></script>

</html>