<!DOCTYPE html>
<html>

<head>
    <title>Get Your Ride</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    {{>navbar}}

    <div class="main-content">
        <form method="post" action="/login">
            <div class="box">
                <h1>Sign in</h1>

                <input type="email" name="email" value="email" class="email" />

                <input type="password" name="password" value="password" class="email" />

                <!--a href="/index">
                    <div class="btn" >Sign In</div>
                </a--> <!-- End Btn -->
                <button class="btn" type="submit">Sign In</button>

            </div> <!-- End Box -->

        </form>
    </div>

    {{>footer}}

</body>

<script src='js/app.js'></script>

</html>