{{>header}}

<body class="d-flex flex-column h-100">
    {{>navbar}}
    <main class="container">
        <div class="d-flex pt-5 align-items-center justify-content-md-center">
            <form class="border border-info rounded p-5" method="POST" action="/login">
                <div class="form-outline mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        name="email">
                    {{!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    --}}
                </div>
                <div class="form-outline mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                </div>
                <button type="submit" class="btn btn-primary btn-block mb-3">Sign In</button>
            </form>
        </div>
    </main>
    {{>footer}}
</body>

<script src='js/app.js'></script>

</html>