<footer class="pt-5 my-md-5 pt-md-3 border-top">
    <div class="row">
        <div class="col-3 col-md ms-3">
            <small class="d-block mb-3 text-muted">FSEP</small>
        </div>
        <div class="col-3 col-md">
            <h5>Technologies</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="#">NodeJS</a></li>
                <li><a class="link-secondary" href="#">hbs</a></li>
                <li><a class="link-secondary" href="#">MapMyIndia</a></li>
            </ul>
        </div>
        <div class="col-3 col-md">
            <h5>Members</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="#">17CP029</a></li>
                <li><a class="link-secondary" href="#">17CP034</a></li>
            </ul>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>