<!DOCTYPE html>
<html>

<head>
    <title>Get Your Ride</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="desciption" content="Mapmyindia Search Plugin">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" type="image/png" href='imgs/favicon.png'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://apis.mapmyindia.com/advancedmaps/v1/j5wizvhljb4ck6y8qtyssyza1q86m1u5/map_load?v=1.3"></script>
    <script
        src="https://apis.mapmyindia.com/advancedmaps/api/knc8yiznmchjhaqnc9uqpz186qrmtktp/map_sdk_plugins"></script>
</head>