body {
  box-sizing: border-box;
  color: #333333;
  font-family: sans-serif;
  /* background-color: gainsboro; */

  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* viewport height - vh */

  box-sizing: border-box;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

nav {
  color: #888;
  border-bottom: 1px solid #eeeeee;
  margin-top: 16px;
  margin-bottom: 16px;
}

nav ul {
  color: #888;
  list-style: none;
  display: flex;
  align-items: flex-start;
}

nav li {
  padding: 15px;
}

nav li:hover {
  background-color: rgb(128, 128, 128);
  color: rgb(255, 255, 255);
}

a {
  color: inherit;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  padding: 12px 0;
  margin-top: 16px;
}

.box h1 {
  font-size: 1.5em;
  color: #ffffff;
  text-align: center;
}

.box {
  background: rgb(126, 208, 255);
  width: 400px;
  border-radius: 6px;
  margin-top: 10px;
  padding: 0;
  border: #2980b9 4px solid;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.email,
.password {
  background: #ffffff;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width: 250px;
  color: #aaaaaa;
  font-size: 1em;
  border-radius: 4px;
  margin: 5px;
}

.email:focus,
.password:focus {
  background: #ffffff;
  border: rgb(180, 251, 255) 1px solid;
}

.btn {
  background: #2ecc71;
  width: 125px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
  text-shadow: 1px 1px 2px #2980b9;
}

.btn:hover {
  background: #2cc06b;
}

a {
  text-decoration: none;
}
