.first-div {
  position: relative;
  height: 40rem;
}

.process-div {
  margin-top: 2rem;
  margin-bottom: 5rem;
  color: #000;
}

.heading {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 35%;
}

.svg_1 {
  position: absolute;
  height: auto;
  width: 50%;
  right: 5%;
  top: 20%;
}

.first-div-btn {
  position: absolute;
  left: 10%;
  top: 60%;
  display: flex;
  flex-direction: row;
}

.img-w {
  width: 95%;
  height: auto;
}

.mBtn {
  background-color: #17a4ba;
  border: none;
  color: #6f6cde;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
}

.btnPrimary {
  background-color: white;
  color: black;
  border: 2px solid #17a4ba;
}

.btnPrimary:hover {
  background-color: #17a4ba;
  color: white;
}

@media (max-width: 700px) {
  .first-div {
    height: 30rem;
  }
  .heading {
    top: 45%;
    width: 90%;
  }
  .first-div-btn {
    flex-direction: column;
    left: 60%;
    top: 77%;
  }
  .svg_1 {
    top: 10%;
    width: 100%;
  }
}
